<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span (click)="showStats()">Roleplay Character Sheets</span>
      <ng-container *ngIf="!(isHandset$ | async)">
        <ng-template [ngTemplateOutlet]="buttons"></ng-template>
      </ng-container>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="isHandset$ | async" class="example-toolbar-row-2">
      <ng-template [ngTemplateOutlet]="buttons"></ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<ng-template #buttons>
  <span class="example-spacer"></span>
  <button mat-button *ngIf="(user$ | async)" (click)="logout()">Logout</button>
  <button mat-icon-button class="github-icon" aria-label="Sourcecode on Github" (click)="clicked('github')">
    <mat-icon svgIcon="github"></mat-icon>
  </button>
  <button mat-icon-button class="ko-fi-icon" aria-label="Author's Ko-Fi" (click)="clicked('coffee')">
    <mat-icon svgIcon="ko-fi"></mat-icon>
  </button>
  <button mat-icon-button class="patreon-icon" aria-label="Author's Patreon" (click)="clicked('patreon')">
    <mat-icon svgIcon="patreon"></mat-icon>
  </button>
  <button mat-icon-button class="tweet-icon" aria-label="Tweet" (click)="clicked('tweet')">
    <mat-icon svgIcon="twitter"></mat-icon>
  </button>
</ng-template>
