.toolbar {
  padding-top: 22px;
}

.lifted {
  margin-bottom: 18px;
}

.with-gap {
  gap: 8px;
}

.flex-grow {
  flex-grow: 1;
}

.world-field {
  min-width: 150px;
}

.name-field {
  min-width: 200px;
}
