.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  width: 450px;
}

.form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
