<h1 mat-dialog-title>Statistics</h1>
<div mat-dialog-content *ngIf="data; else loading">
  <h3>Total: {{ total }}</h3>
  <div class="table">
    <div class="left">
      <div *ngFor="let world of data">
        {{ world.key }}
      </div>
    </div>
    <div class="right">
      <div class="chart">
        <ng-container *ngFor="let world of data">
          <div [style]="{ 'width': (world.value / largest * 100) + '%' }">
            {{ world.value }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  Loading...
</ng-template>
