.container {
  margin: 0;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  min-width: 480px;
  overflow-y: auto;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: calc(100% - 65px);
}
