.container {
  display: flex;
  justify-content: center;
}

.card {
  width: 450px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.pre {
  margin: 1em !important;
}
